body {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  background: white;
}

/* Profile section */

.profile {
  width: 50%;
  height: 100vh;
  text-align: center;
  background-image: url("../img/profileBackground.jpg");
  background-size: cover;
}

.profile h2 {
  position: absolute;
  left: 2.5%;
  padding-top: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.profile-img {
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

.profile-img1 {
  border-radius: 50%;
  height: 310px;
  width: 310px;
}

/* Contact-bar css */

.contact-bar {
  position: relative;
  width: 50%;
  height: 4%;
  left: 50%;
  top: 34%;
  transform: translate(-50%, -34%);
  font-size: 17px;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}

.front {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(180deg);
}

.contact-bar a {
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
  display: inline-flex;
  height: 38px;
  width: 38px;
  margin: 0 5px;
  padding-top: 9.5px;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  transition: 0.4s;
}

.contact-bar a:hover {
  background: black;
}

.contact-bar a i {
  transition: 0.4s all;
}

.contact-bar a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

.contact-bar:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.contact-bar:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/* Project section */
.projects {
  background: url("../img/projectsbackground.jpg");
  background-size: cover;
  text-align: center;
  width: 50%;
  height: 100vh;
  overflow: scroll;
  color: white;
  border: solid 2px black;
}

.project-item {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 360px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  color: white;
  border: 0.02px white solid;
  background: rgba(255, 255, 255, 0.3);
}

.project-item-aligner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
}

.project-item a {
  height: inherit;
  width: inherit;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.footer {
  color: rgba(255, 255, 255, 0.5);
  width: 50%;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  font-size: 18x;
}
